body {
    margin: 0;
    padding: 0;
    background-color: gray;
    font-family: sans-serif;
    font-size: 23;
}
.container {
    width: 1220px;
    margin: 0 auto;
    min-height: 1220px;
    background-image: url("../afb/LetItBe_0.jpg");
    color: gray;
    padding-top:  153px;
}
.beatle {
    /*background-color: rgba(255, 0, 0, 0.699);*/
    width: 200px;
    cursor: pointer;
}
.beatle .name {
   opacity: 0;
}
.beatle:hover .name {
    opacity: 1;

}
#john {
    margin-left: 100px;
    padding-top: 427px;
    padding-left: 297px;
    padding-bottom: 10px;
}
#john .name {
    margin-left: 98px;
}
#paul{
    margin-left: 599px;
    margin-top: -488px;
    padding-top: 337px;
    padding-right: 260px;
    padding-left: 8px;
    padding-bottom: 8px;
}
#paul .name{
    margin-top: 100px;
}
#ringo{
    margin-left: 117px;
    padding-top: 15px;
    padding-left: 280px;
    padding-bottom: 430px;
}
#ringo .name{
    margin-left: 100px;
}
#george{
    margin-left: 604px;
    margin-top: -473px;
    padding-right: 270px;
    padding-bottom: 440px;
}
h3, p {
    margin: 0;
    padding: 0;
}
.name {
    border-left: solid 9px red;
}