html, body { margin: 0; padding: 0; }

body {
    background-color: rgb(53, 53, 53);
  }
  
  nav {
    background-color: black;    
    height: 30px;
  }

  nav a {
    display: block;
    color: white;
    text-decoration: none;
    width: 350px;
    padding: 5px 10px;
    margin: 4px 4px;
    float: left;
  }

  nav a:hover {
    background-color: gray;
  }

  h1 {
    padding: 30px;
    clear: both;
    margin: 2px;
    color: white;
    margin-left: 20px;
  }

  .white {
    color: white
  }